[submodule "fred"]
	path = fred
	url = https://github.com/hyphanet/fred
[submodule "wininstaller-innosetup"]
	path = wininstaller-innosetup
	url = https://github.com/hyphanet/wininstaller-innosetup
[submodule "scripts"]
	path = scripts
	url = https://github.com/hyphanet/scripts
